{% extends "base.html" %}


{% block content %}
    <h1>Пользователи</h1>

    <p>
        <a href="new">Добавить пользователя</a>
    </p>
    <table class="table">
        <thead>
          <tr>
                <th>Имя</th>
                <th></th>
          </tr>
        </thead>
        <tbody>
            {% for customer in object_list %}
                <tr>
                    <td>{{ customer.first_name }} {{ customer.last_name }}:   <span class="quality"> <img src="https://image.flaticon.com/icons/png/512/3237/3237420.png"> {{ customer.quality_score }}</span></td>
                    <td>
                        <a href="{% url "customers:detail" customer.id %}">Показать</a> |
                        <a href="{% url "customers:edit" customer.id %}">Редактировать</a> |
                        <a href="{% url "customers:delete" customer.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        img {
        height: 24px;
        weight: 24px;
        }
    </style>
{% endblock content %}