{% extends "base.html" %}


{% block content %}
    <div class="add-city">
        <h5>Добавьте город и цену клининга в нём</h5>
        <h5>(Только латынские буквы)</h5><br>
        <form method="POST">
            {% csrf_token %}
            {{ form.city }}<br>
            {{ form.price }}<br>

             <button class="btn btn-success" type="submit">Добавить</button><br><br>
            <h4>{{ error }}</h4>
        </form>
    </div>
    <div class="show-city">
        <h3>Город: Стоимость</h3>
        <table>
            <tbody>
                {% for city in citys %}
                    <tr>
                        <td>{{ city.city }}: {{ city.price }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <style type="text/css">
        input{
            background-color: #d1d1d1;

        }
        .add-city {
            width: 35%;
            float: left;

        }
        .show-city {
            width: 35%;
            float: right;



        }
        .form {
            width: 45%;
        }
        img {
        height: 24px;
        weight: 24px;
        float: right;
        }
    </style>


{% endblock content %}