{% extends "base.html" %}


{% block content %}
    <div class="bookings">
        <h2>Заполните все поля для заказа клинера</h2><br>
        <form method="post">
            <div class="">
                {% csrf_token %}
                <h4>Выберите свои данные из списка уже зареестрированых пользователей, дату и время для заказа клинера</h4><br>
                <select name="select_customer">
                    {% for customer in customers %}
                    <option value={{ customer.phone_number}}>{{ customer.first_name }} {{ customer.last_name }}</option>
                    {% endfor %}
                </select>

                <br><br>
                <select name="booking_city">
                    {% for city in citys %}
                    <option value={{ city.city }}>{{ city.city }}</option>
                    {% endfor %}
                </select><br><br>
                <input name="date_time" type="datetime-local" placeholder="Время" class="form-control inp"><br>


                <button class="btn btn-success" type="submit">Заказать клинера</button>
            </div>
        </form>




        <style type="text/css">
            .inp, .city-select {
                background-color: #d1d1d1;
                width: 95%;
            }
            .bookings {
                width: 35%;
            }
        </style>





    </div>
{% endblock content %}
